@mixin buttons {
    color: rgb(56, 54, 54);
    width: 150px;
    background: rgb(90, 202, 25);
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 2px;
    
}
$mg: rgb(35, 68, 30); 