@import './styles';

body{
    background-color:$mg;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    text-align: center;
}
h1{
    color: rgb(6, 70, 14);
    
}
p{
    text-align: center;
    color: honeydew;
}

#message-a{
    font-style: italic;
}
button{
    @include buttons;
    margin-bottom: .4rem;
}
button:hover{
    transform: scale(1.1);
    cursor: pointer;
}